<h1>Info autor</h1>
<div class="row">
    <div class="col-sm-3 ">
        <button [routerLink]="['/autor/biografia']" class="btn btn-block btn-danger btn-info ">Biografia</button>
    </div>
    <div class="col-sm-3">
        <button [routerLink]="['/autor/crear']" class="btn btn-block btn-danger btn-info ">Crear</button>
    </div>
    <div class="col-sm-3">
        <button [routerLink]="['/autor/listar']" class="btn btn-block btn-danger btn-info ">Listar</button>
    </div>
</div>