<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
        <h1 class="color-rojo">404</h1>
        <h3 class="color-rojo">Not found</h3>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2"></div>
</div>
