<div class="row">
    <div class="col-sm-3 ">
        <button [routerLink]="['/autor']" class="btn btn-block btn-outline-dark btn-info ">Autor</button>
    </div>
    <div class="col-sm-3">
        <button [routerLink]="['/editorial']" class="btn btn-block btn btn-outline-dark btn-info">Editorial</button>
    </div>
    <div class="col-sm-3 ">
        <button [routerLink]="['/libro']" class="btn btn-block btn-outline-dark btn-info ">Libro</button>
    </div>
</div>