<h1>Bienvenidos a nuestra libreria.</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1>Estoy en autor</h1>
            <button [routerLink]="[{outlets:{autor:['info']}}]">
            </button>
            <button [routerLink]="[]">
            </button>
            <router-outlet name="autor"></router-outlet>
        </div>
        <div class="col-sm-4">
            <h1>Estoy en editorial</h1>
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-4">
            <h1>Estoy en libro</h1>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>